* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#rest {
    position: relative;
    top: 150px;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    
}

 /* nav ul {
    overflow: hidden; */
    /* Da ul ponovo dobije visinu jer
    su sva deca float, i ul je prazan,
    gubi visunu
    overflow: hidden 
    vraca visinu */

/* }  */
nav ul::after {
    content: "";
    clear: both;
    display: table;
}

nav ul li {
    float: left;
    list-style-type: none;
    background-color: burlywood;
    border: 2px solid blue;
    /* width: calc(100%/4); */
    width: 25%;
    text-align: center;
    

}

nav ul li a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    display: block;
    /* display block 
        se koristi da se a
        in-line element prosiri
        na ceo li
        da ceo li bude klikljiv
    */
    padding: 10px 0;
    
    
}

nav ul li a:hover{
    background-color: red;
}


/* PADAJUCI MENU */
.submenu{
    display: none;
}

.dropdown:hover .submenu {
    display: block;
}





/* HORIZONTALNI MENI */

footer {
    position: fixed;
    bottom: 0;
    top: 43px;
    left: 0;
    width: 10%;
    
    /* z-index: ; */
    background-color: cornflowerblue;


}

footer ul li {
    list-style-type: none;
    
    background-color: cornflowerblue;

}

footer ul li a {
    display: block;
    padding: 10px 0px 10px 5px;
    text-decoration: none;
    color: #fff;
}
footer ul li a:hover {
    background-color: rgb(20, 69, 160);
}