* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
:root {
    --bojaBTN: #999;
    --bojaInputa: #999;

}
/* H E A D E R */

header {
    background-color: #283844;
    position: sticky;
    top: 0;
}
h1{
    margin: 5px;
    padding: 3.1px;
    color: #fff;
    text-align: center;
}

body {
    flex-direction: column;
    background-image: url(./images/cool_web.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/* N A V */
nav {
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    
}
nav button {
    font-size: large;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--bojaBTN);
    width: 15%;
    color: #fff;
    
}
nav button:hover, nav button:focus {
    background-color: #444;
    cursor: pointer;
}

/* C H A T */

#chat {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;

}
#chat ul {
    width: 60%;
    border: 2px solid pink;
    height: 500px;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;

}
#chat ul li {
    margin-top: 10px;
    margin-left: 8px;
    border: 1px solid gray;
    border-radius: 0px 15px 25px 15px;
    width: 50%;
    padding: 10px;
    font-size: 20px;
    color: rgb(153, 22, 22);
    background-color: rgb(213, 235, 92);
    overflow: hidden;
}
#chat ul .floatRight {
    float: right;
    border-radius: 25px 0px 25px 25px;
    margin-right: 5px;
    background-color:rgb(218, 168, 32);
}
#chat ul li img {
    width: 30px;
    height: 25px;
    float: right;
    visibility: hidden;
    transition: 1.5s;
}
#chat ul li:hover img {
    visibility: visible;
}
#chat ul li img:hover {
    cursor: pointer;
}

.user {
    font-weight: bold;
}
.message {

}
.date {
    color: rgba(153, 22, 22, .5);
    font-weight: lighter;
}



/* // F O R M E */
#forme {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    flex-direction: column;
    height: 300px;

}
#forme form {
    width: 60%;
    height: 40px;
    display: flex;
    justify-content:space-between;
    /* overflow: hidden; */
}
input, textarea {
    height: 38px;
    background-color: var(--bojaInputa);
    color: #fff;
    font-size: large;
    padding: 5px;
    border-radius: 10px;

}
input[type="submit"]:hover {
    cursor: pointer;
}

/* // C O L O R */
#color{
    width: 63%;
}
#submitBoja{
    width: 33.33%;
}
/* V R E M E */
#start_date, #end_date {
    width: 33%;
}
#set_date {
    width: 33%;
}
/* P O R U K A */
#inputMsg {
    width: 66%;

}
#submitText {
    width: 33%;
}

/* U S E R N A M E */
#inputLog {
    width: 66%;
}
#logSubmit {
    width: 33%;
}

/* F O O T E R */
footer {
    background-color: #283844;
}
footer p {
    visibility: hidden;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    /* transition: .5s; */
    color: #fff;
}
footer p span {
    font-weight: bolder;
    letter-spacing: 1px;
}

/* M E D I A   Q U E R Y */
@media only screen and (max-width: 1000px) and (min-width: 601px) {
    nav button {
        width: 20%;
    }
    #chat ul {
        width: 80%;
    }
    #forme form {
        width: 80%;
    }
}
@media only screen and (max-width: 600px) {
    nav {
        flex-wrap: wrap;
    }
    nav button {
        width: 100%;
        padding: 5px;
        margin: 1px;
    }
    #chat ul {
        width: 100%;
    }
    #chat ul li {
        width: 80%;
    }
    #forme {
        height: 400px;
        margin-bottom: 40px;
        
    }
    #forme form {
        width: 100%;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }
    #forme form input, 
    #forme form textarea {
        width: 100%;
        
    }
    
    footer {
        height: 50px;
    }
}
