* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url(./images/cool_web.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
/* Header */
/* header {

} */

h1 {
    text-align: center;
    padding: 15px;
    color: #fff;
}

h2 {
    text-align: center;
    padding: 10px;
    color: #fff;
}

nav {
    /* background-color: aqua; */
    width: 80%;
    margin: auto;
    display: flex;
    position:sticky;
    top: 0px;

    
}

button {
    width: 300px;
    padding: 15px 0px;
    color: #fff;
    background-color:darkblue;
    border-radius: 10px;
    font-size: 1em;
}
button:hover{
    cursor: pointer;
}

form {
    width: 60%;
    margin: auto;
    display: flex;
    margin-top: 20px;
}
.submit{
    flex-basis: 30%;
    flex-grow: 1;
    font-size: 1em;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: chocolate;
    color: #fff;
}
.text {
    flex-basis: 70%;
    flex-grow: 3;
    font-size: 1.2em;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: chocolate;
    color: #fff;
    
}
.text::placeholder{
    color: #bbb;
}
/* B O J A */
#color {
    width: 66%;
    height: 36px;
}
#submitBoja {
    width: 33%;
    padding: 5px;
    font-size: 1.2em;
}
/* D A T U M */
input[type="datetime-local"] {
    width: 34%;
    padding: 5px;
    font-size: 1.2em;
}
#set_date {
    width: 31%;
    font-size: 1.2em;
}
/* P O R U K A */
#inputMsg {
    width: 66%;
    height: 25px;
}
#submitText {
    width: 33%;
    height: 36px;
}

section {
    width: 60%;
    margin: auto;
    background-color: rgba(245, 245, 220,0.4);
    height: 600px;
    overflow: auto;
}

ul li {
    margin-top: 10px;
    margin-left: 8px;
    border: 1px solid gray;
    border-radius: 0px 15px 15px 15px;
    width: 50%;
    padding: 10px;
    font-size: 20px;
    color: rgb(153, 22, 22);
    background-color: cornflowerblue;
    overflow: hidden;

}
.floatRight {
    float: right;
    border-radius: 25px 0px 25px 25px;
    margin-right: 5px;
    background-color:chartreuse;
}
img {
    width: 30px;
    height: 30px;
    display: block;
    float: right;
    
}
#chat {
    border: 5px solid #fff;
    border-radius: 15px;
}

footer {
    height: 50px;
    width: 100%;
    background-color: rgb(210, 105, 30);
    display: none;
}
p {
    text-align: center;
    color: #fff;
    line-height: 50px;
}

ul {
    overflow-y: auto;
}
