* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    
    flex-direction: column;
    background-image: url(./images/cool_web.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
/* Header */
/* header {

} */

h1 {
    text-align: center;
    padding: 15px;
    color: #fff;
}

h2 {
    text-align: center;
    padding: 10px;
    color: #fff;
}

nav {
    /* background-color: aqua; */
    width: 80%;
    margin: auto;
    display: flex;
    
}

button {
    width: 24%;
    padding: 10px 5px;
    color: #fff;
    background-color:chocolate;
    border-radius: 5px;
    font-size: 1.2em;
}
button:hover{
    cursor: pointer;
}

form {
    width: 60%;
    margin: auto;

    display: flex;
    margin-top: 20px;
}
.submit{
    flex-basis: 30%;
    flex-grow: 1;
    font-size: 1.2em;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: chocolate;
    color: #fff;
}
.text {
    flex-basis: 70%;
    flex-grow: 3;
    font-size: 1.2em;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: chocolate;
    color: #fff;
    
}
.text::placeholder{
    color: #bbb;
}

section {
    width: 60%;
    margin: auto;
    background-color: rgba(245, 245, 220,0.4);
    height: 600px;
    overflow: auto;
}

ul li {
    
    margin-top: 10px;
    margin-left: 8px;
    border: 1px solid gray;
    border-radius: 0px 15px 15px 15px;
    width: 50%;
    padding: 10px;
    font-size: 20px;
    color: rgb(153, 22, 22);
    background-color: cornflowerblue;
    overflow: hidden;

}
